* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#main {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}



#page1 {
    height: 100vh;
    width: 100vw;

}

#navBar {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(248, 243, 215);
}

#menu>a {
    padding-right: 20px;
    text-decoration: none;
}


#frontPage {
    height: 80%;
    width: 100%;
    background-image: url(https://www.infoneotech.com/img/Door-to-Door-Marketing-Agency.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#frontPage>div {
    height: 40vh;
    width: 30vw;
    padding-top: 80px;
    padding-left: 50px;
    line-height: 30px;
}

#frontPage>div>h5 {
    font-size: 20px;
}

#frontPage>div>h2 {
    font-size: 30px;

}

#frontPage>div>p {
    line-height: 15px;
}

#more {
    display: none;
}

#myBtn {
    border-color: blue;
    background-color: blue;
    color: white;
    height: 30px;
    width: 80px;
    border-radius: 8%;
    white-space: nowrap;
    overflow: hidden;
}



/* aboutUs */
#aboutUs {
    margin: auto;
    height: 60%;
    width: 60%;
}

#aboutUs>div {
    padding-top: 20px;
    display: flex;
    margin: 20px;
}

#aboutUs>hr {
    margin-top: 20px;
}

#aboutUs>div>img {
    height: 40%;
    width: 40%;
    object-fit: cover;
}

#aboutUs>div>div {
    height: 40%;
    width: 40%;
    margin-left: 40px;

}

#aboutUs>div>div>p {
    margin-top: 30px;
}



#ourBabysitter {
    padding-top: 25px;
    width: 60%;
    margin-left: 10%;

}

#ourBabysitter>hr {
    width: 60%;
    margin-left: 30%;
}

#ourBabysitter>h2 {
    margin-left: 60vh;
    font-size: 4vh;
}


#cards {
    padding-top: 20px;
    margin-left: 25vh;
    margin-bottom: 15vh;
    width: 90%;
    white-space: nowrap;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#card {
    /* display:inline-block; */
    display: flex;
    width: 70%;
    margin-left: 2vh;
    padding: 15px;
    box-shadow: 10px 10px 5px lightblue;
    margin-bottom: 20px;
}

#cardImg {
    height: 150px;
    width: 150px;
}


#cardImg>img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid black;
}

#name {
    margin-left: -10px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgb(148, 201, 231);
}

#cardBtn {
    background-color: rgb(148, 201, 231);
    border: none;
    color: white;
    font-weight: 600;
}

#cardBtn:hover {
    cursor: pointer;
}






/* subscriber start */
.w3lsnewsletter {
    padding: 50px 0;
    background-color: #202020;
    font-family: 'Montserrat', sans-serif;
}

.w3lsnewsletter-grid-1 p,
.w3lsnewsletter-grid-1 h2 {
    font-size: 25px;
    color: #FFF;
}

.email-form {
    text-align: left;
}

.email-form input.email {
    padding: 15px 10px;
    width: 70%;
    font-size: 13px;
    color: #FFF;
    background-color: #000;
    border: 1px solid #FFF;
    outline: none;
}

.email-form input.submit {
    width: 28%;
    padding: 15px 0;
    border: none;
    outline: none;
    color: #FFF;
    background-color: #31708f;
    font-weight: 700;
    margin-left: 5px;
}

.email-form input.submit:hover {
    color: #FFF;
    background-color: #c41228;
}

.w3lsnewsletter-grid {
    padding: 0;
}

.subscribe {
    padding-top: 8px;
}

/* subscriber ends */








/* copyright start*/

.w3lscopyrightaitsgrid {
    padding: 0;
}

.w3lscopyrightaitsgrid1 p {
    color: #000;
    margin-top: 10px;
}

.w3lscopyrightaitsgrid1 p a {
    font-family: 'Montserrat', sans-serif;
    color: #000;
}

.w3lscopyrightaitsgrid1 p a:hover {
    color: #c41228;
}

.agilesocialwthree {
    text-align: right;
    display: flex;
    white-space: nowrap;
}

ul.social-icons {
    margin: 0 1000px;
}

ul.social-icons li {
    display: inline-block;
    margin: 0 5px;


}

.agilesocialwthree ul.social-icons li a {
    font-size: 30px;
    color: #000;
}

ul.social-icons li a.facebook:hover {
    color: #3b5998;
}

ul.social-icons li a.twitter:hover {
    color: #1dcaff;
}

ul.social-icons li a.googleplus:hover {
    color: #d34836;
}

ul.social-icons li a.instagram:hover {
    color: #517fa4;
}

ul.social-icons li a.youtube:hover {
    color: #bb0000;
}


#copyright {
    white-space: nowrap;
}

/* Enrollment form css  */
#enroll-h1 {
    align-self: center;
    display: flex;
    align-items: center;
    font-family: revert;
    justify-content: space-evenly;
    color: blueviolet;
}

/* enrollment css end  */



/* services page start */

#bcs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#cardsBcs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#bcsCard {
    display: flex;
    margin: 5vh 7vh;
}

#bcsCard>img {
    height: 25vh;
    width: 20vh;
    object-fit: cover;
}

#bcsCard>div {
    margin-left: 5vh;

}

#bcsCard>div>p {
    margin-top: 2vh;
    width: 29vh;
}

/* services page end */






/* babysitters details start  */

#bsDetails {
    margin: 2% 20%;
}

#bsDetails>h2 {
    display: flex;
    justify-content: center;
}

#ourBsCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.obsCard {
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;
}

.obsCard>div {
    padding: 0 8px;
    width: 20vw;
}

.obsCard>img {
    height: 15vh;
    width: 12vh;
    object-fit: cover;
    justify-content: space-between;
}

/* babysitters details Ends  */








/* Admin login page start */


#mainAdmin {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#adminCard {
    overflow: hidden;
    height: 43vh;
    width: 40vh;
    border: 1px solid grey;
    border-top: 3px solid blue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 1%;
    position: absolute;
}

#adminCard>hr {
    width: 100%;
    border: 0.5px solid rgba(184, 184, 184, 0.354);
}

#adminInputs {
    height: 4vh;
    width: 17vw;
    padding: 0 1vh;
}

#adminCard>button:hover {
    cursor: pointer;
}
#adminCard>button {
    background-color: blue;
    color: white;
    padding: 2px 4px;
    border: 2px solid transparent;
    border-radius: 8%;
    position: absolute;
    bottom: 20%;
    right: 10%;
}

.btmAtag {
    position: absolute;
    left: 10%;
    bottom: 5%;
    text-decoration: none;
}

.btmAtag:last-child {
    position: absolute;
    left: 10%;
    bottom: 11%;
}

#atags {
    height: 10vh;
}

/* Admin login page ends */






/* Contact us start */

#contactUs{

    width: 110vh;
    height: 68vh;
    margin: auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#thricards{
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.contCard{
    width:  50vh ;
    padding: 2px 5px;
    margin: 0 2%;
    border: 2px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.457), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#contInps{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 130%;
}
#contInps>input{
    margin: 5px;
    padding: 4px;

}
#LstInp{
    width: 198%;
    height: 90%;
    margin-left: 5px;
    padding: 0 5px;
    resize: none;
}

#contactUs>button{
    width: 128%;
    padding: 2px 4px;
    font-size: 2.5vh;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
}

/* Contact us ends */







